.bg-F4F6F0 {
    background-color: #F4F6F0;
}

.bg-99BA57{
    background-color: #99BA57;
}

.fg-white{
    color: #fff;
}

.fg-black{
    color: #000;
}

.fill-white{
    fill: #ffffff;
}

.principal-btn:hover,
.principal-btn:focus,
.principal-btn:active{
    background-color: #BAD08D;
    border-color: rgba(153, 186, 87, 0.25);
}

.danger-btn{
    background-color: #DD2902;
}

.danger-btn:hover,
.danger-btn:focus,
.danger-btn:active{
    background-color: #CD1901;
}

.btn-primary{
    color: #fff;
    background-color: #99BA57;
    border-color: #99BA57;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active{
    background-color: #BAD08D !important;
    border-color: rgba(153, 186, 87, 0.25);
}

.secondary-btn{
    background-color: #fff;
    color: #000;
}

.secondary-btn:hover,
.secondary-btn:focus,
.secondary-btn:active{
    background-color: #D9D9D9
}

.text-underline-99BA57{
    text-decoration: underline;
    text-decoration-color: #99BA57;
}

.image-button{
    cursor: pointer;
}

.image-button:hover,
.image-button:focus,
.image-button:active{
    filter: brightness(110%);
}

.slider{
    height: 2px;
    background-color: #485550;
}

.slider .thumb{
    height: 23px;
    width: 23px;
    cursor: grab;
    background: #FFFFFF;
    border-radius: 50%;
    border: 2px solid #99BA57;
    top: -12px;
}

.vw-mw-100{
    width: calc(100vw - 4rem);
}

.form-check-input:checked{
    background-color: #99BA57;
    border-color: #99BA57;
}

.form-check-input:focus{
    box-shadow: 0 0 4px 4px rgba(153, 186, 87, 0.25);
    border-color: rgba(153, 186, 87, 0.25);
}

.form-control:focus{
    box-shadow: 0 0 4px 4px rgba(153, 186, 87, 0.25);
    border-color: rgba(153, 186, 87, 0.25);
}

.form-select:focus{
    box-shadow: 0 0 4px 4px rgba(153, 186, 87, 0.25);
    border-color: rgba(153, 186, 87, 0.25);
}

.div-scroll{
    max-height: calc(100vh - 30px - 4rem);
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #99BA57 #F4F6F0;
}

.table-scroll{
    max-height: calc(100vh - 209px - 4rem);
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #99BA57 #F4F6F0;
}

.carousel-image-button-scroll{
    max-height: calc(100vh - 396px - 4rem);
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #99BA57 #F4F6F0;
}

.custom-icon-color{
    color: #99BA57;
}

.carousel-image-button{
    width: auto;
    height: 30px;
}

.carousel-image-button:hover,
.carousel-image-button:focus,
.carousel-image-button:active{
    border: 1px solid rgba(153, 186, 87, 0.25);
}

.carousel-image-button.selected {
    border: 2px solid #99BA57;
}

.z-1000{
    z-index: 1000;
}

.btn-outline-primary{
    color: #99BA57;
    border-color: #99BA57;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active{
    background-color: #BAD08D !important;
    border-color: rgba(153, 186, 87, 0.25);
}
