.MainPV{
    margin-top: 115px;
    margin-right: 10px;
    width: 1500px;
    height: 729px;
}

.Cuerpo{
    background-color: #F4F6F0;
    margin-right: 600px;
    width: 1500px;
    height: 729px;
}